@charset "UTF-8";
h1,
h2,
h3,
h4,
h5 {
  font-family: "Proza Libre", sans-serif;
  color: #0f393b;
  text-transform: capitalize; }

p,
li,
a {
  font-family: "Open Sans", sans-serif;
  color: #0f393b;
  font-size: 1.2em; }

body {
  background-color: #f6f5ef; }

html {
  scroll-behavior: smooth; }

:target:before {
  content: "";
  display: block;
  height: 80px;
  margin: -100px 0 0; }

.container {
  max-width: 1240px; }

nav {
  padding-top: 1em; }
  nav .logo {
    margin-top: 20px;
    width: 50px;
    height: auto;
    color: #0f393b;
    margin-left: 2em;
    transition: 1s all ease; }
    nav .logo:hover {
      transform: rotate(360deg); }
    @media (min-width: 768px) and (max-width: 1023px) {
      nav .logo {
        margin-left: 1em;
        margin-top: 5px;
        width: 40px; } }
    @media (max-width: 767px) {
      nav .logo {
        margin-left: 1em;
        margin-top: 15px;
        width: 30px; } }
  nav .nav-link {
    font-family: "Proza Libre", sans-serif;
    padding: 0.2rem 1rem;
    transition: 0.25s all ease; }
    nav .nav-link:hover {
      color: #ea7f4a;
      transform: translateX(10px); }
    @media (min-width: 768px) and (max-width: 1023px) {
      nav .nav-link {
        font-size: 1em; } }
    @media (max-width: 767px) {
      nav .nav-link {
        font-size: 0.7em; } }
  @media (max-width: 767px) {
    nav {
      background-color: #f6f5ef; } }

.scroll-tab {
  margin-left: 2em;
  position: fixed;
  top: 20%; }
  .scroll-tab .arrow {
    transform: translateX(1px);
    margin-bottom: 5px; }
  .scroll-tab .scroll1 {
    margin-bottom: 0.5em; }
    .scroll-tab .scroll1 a {
      text-decoration: none;
      transition: 0.25s all ease; }
      .scroll-tab .scroll1 a:hover {
        color: #ea7f4a;
        transform: rotate(360deg); }
  @media (max-width: 767px) {
    .scroll-tab {
      display: none; } }

.scroll-top {
  margin-left: 2em;
  position: fixed;
  bottom: 1.5em; }
  .scroll-top img {
    transform: scaleY(-1);
    transition: 0.5s all ease; }
    .scroll-top img:hover {
      transform: scaleY(-1) translateY(20px); }
  @media (max-width: 767px) {
    .scroll-top {
      display: none; } }

.footerm {
  display: flex;
  flex-direction: row; }
  .footerm a {
    font-family: "Proza Libre", sans-serif;
    text-decoration: none;
    transition: 0.25s all ease; }
    .footerm a:hover {
      color: #ea7f4a; }
  .footerm p {
    position: fixed;
    display: flex;
    flex-direction: row;
    left: 95vw;
    bottom: 0;
    transform: rotate(-90deg);
    transform-origin: 0 0; }
    .footerm p img {
      transform: rotate(90deg);
      margin-left: 10px;
      width: 30px;
      filter: invert(84%) sepia(80%) saturate(6972%) hue-rotate(327deg) brightness(95%) contrast(92%);
      transition: 0.5s all ease; }
      .footerm p img:hover {
        transform: rotate(450deg); }
  @media (max-width: 767px) {
    .footerm {
      display: none; } }

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7em; }
  .home h1 {
    font-size: 5em; }
    @media (max-width: 767px) {
      .home h1 {
        font-size: 3em; } }
  .home h2 {
    font-size: 2em; }
  .home h3 {
    font-size: 2em;
    color: #ea7f4a; }
  @media (max-width: 767px) {
    .home {
      margin-top: 10em; } }

.btn {
  border-radius: 0;
  padding: 0.5em 0.5em;
  font-size: 25px;
  text-transform: capitalize;
  font-family: "Proza Libre", sans-serif;
  margin: 1em 0;
  transition: 0.2s all ease-in; }
  .btn:focus {
    outline: none;
    box-shadow: none; }
  @media (max-width: 767px) {
    .btn {
      font-size: 18px; } }

.btn-border {
  background: transparent;
  color: #0f393b;
  transition: 0.5s all ease-in-out; }
  .btn-border:hover, .btn-border:active {
    border-bottom: 3px solid #0f393b;
    background: transparent;
    color: #0f393b;
    letter-spacing: 4px; }
    .btn-border:hover i, .btn-border:active i {
      transform: translateX(10px); }
  .btn-border i {
    color: #edcb50;
    font-size: 10px;
    vertical-align: middle; }

.btn-fill {
  background-color: transparent;
  border-radius: 0;
  font-size: 20px;
  border: 5px solid #0f393b;
  color: #0f393b;
  margin: .5em; }
  .btn-fill:hover {
    background-color: #0f393b;
    color: #f6f5ef;
    letter-spacing: 3px; }

.profile {
  margin-top: 6em;
  padding: 0 7em; }
  .profile h1 {
    font-size: 3.5em; }
  .profile .skills {
    text-align: right; }
    .profile .skills .icon-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
      direction: rtl; }
      .profile .skills .icon-container img {
        max-width: 70px;
        margin-top: 1em; }
        @media (max-width: 767px) {
          .profile .skills .icon-container img {
            max-width: 60px; } }
        @media (max-width: 767px) {
          .profile .skills .icon-container img {
            max-width: 50px; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .profile .skills .icon-container {
          grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); } }
      @media (max-width: 767px) {
        .profile .skills .icon-container {
          grid-template-columns: repeat(auto-fill, minmax(70px, 1fr)); } }
    .profile .skills h2 {
      text-align: right; }
    .profile .skills .skill-text-container {
      display: flex;
      justify-content: flex-end; }
      .profile .skills .skill-text-container p {
        font-size: 1.4em;
        margin-left: 2em;
        text-align: right; }
        @media (max-width: 767px) {
          .profile .skills .skill-text-container p {
            margin-bottom: .3rem; } }
      @media (max-width: 767px) {
        .profile .skills .skill-text-container {
          display: block; } }
    @media (max-width: 767px) {
      .profile .skills {
        margin-top: 7em;
        padding: 0 20px; } }
  .profile .experiences .company {
    margin-top: 2em; }
    .profile .experiences .company h3 {
      font-weight: 700; }
    .profile .experiences .company li {
      margin: 0.5em 1em;
      list-style-type: none; }
      .profile .experiences .company li:before {
        content: "■";
        font-size: 1em;
        color: #ea7f4a;
        margin-right: 1em; }
  .profile .contact {
    display: flex;
    justify-content: space-evenly;
    margin: 4em; }
    .profile .contact img {
      filter: invert(84%) sepia(80%) saturate(6972%) hue-rotate(327deg) brightness(95%) contrast(92%); }
      @media (max-width: 767px) {
        .profile .contact img {
          max-width: 50px; } }
    @media (max-width: 767px) {
      .profile .contact {
        margin: 2em 1em; } }
  .profile img {
    transition: 0.5s all ease; }
    .profile img:hover {
      transform: scale(1.2); }
  @media (max-width: 767px) {
    .profile {
      padding: 0em 1em; } }

.project-container {
  padding: 0 7em; }
  .project-container .project {
    margin-bottom: 5em;
    margin-top: 7em; }
    .project-container .project .title {
      display: flex;
      justify-content: center;
      align-items: center; }
      .project-container .project .title h2 {
        font-size: 9em;
        position: absolute;
        z-index: -1;
        color: transparent;
        -webkit-text-stroke: 2px #ea7f4a;
        font-weight: 600;
        opacity: 0.5; }
        @media (max-width: 767px) {
          .project-container .project .title h2 {
            font-size: 8em; } }
      .project-container .project .title h1 {
        font-size: 4em; }
    .project-container .project .language-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      margin: 2em; }
      .project-container .project .language-container li {
        list-style-type: none;
        background: #edcb5044;
        border-radius: 50px;
        padding: 10px 15px;
        margin-bottom: 10px; }
    .project-container .project .img-container {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); }
      .project-container .project .img-container img {
        max-width: 335px; }
        @media (min-width: 768px) and (max-width: 1023px) {
          .project-container .project .img-container img {
            max-width: 100%; } }
        @media (max-width: 767px) {
          .project-container .project .img-container img {
            max-width: 100%; } }
    .project-container .project .info-container {
      margin-top: 2em; }
      .project-container .project .info-container h3 {
        font-weight: 600; }
    .project-container .project .btn-container {
      display: flex;
      justify-content: center; }
  @media (max-width: 767px) {
    .project-container {
      padding: 0em 1em; } }
